.box2{
    border: 1px solid black;
    height: 80vh;
    margin-bottom: 7px;
}
.carousel-inner{
    height: 100%;
    object-fit: fill;
}
.carousel-item{
    height: 100%;
    object-fit: fill;
}
.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.box3{
    margin-bottom: 7px;
}
.about{
    border: 1px solid black;
    height: 45vh;
    padding: 5%;
    display:flex;
    justify-content: space-around;
}
h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
}
.boxes1{
    /* border:2px solid blue; */
    height:90%;
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    /* border: 2px solid red; */
    height:90%;
    width: 90%;
    border-radius: 50%;
}
.about-img{
    height: 100%;
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
}
.boxes2{
    /* border:2px solid blue; */
    height: 90%;
    width:70%;
    padding: 7px;
    display: flex;
    align-items: center;
}
.content{
    /* border: 1px solid red; */
    padding: 3%;
    height: fit-content;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px black;
}
.box4{
    
    display: grid;
    gap: 7px;
    border: 1px solid black;
    
}
.row div{
    justify-content: center;
    display:flex;
}
.card{
    height: 55vh;
}
.card img{
    height: 80%;
    object-fit: fill;
}
a{
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .about{
        flex-direction: column;
        align-items:center;
        gap:5%;
    }
    .boxes1{
        height:55%;
        width:45%;
    }
    .boxes2{
        width:90%;
        height:40%;
    }
    .box2{
        height: 60vh;
    }
}